@model EditProfileViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Centennial English Learning Services (CELS)">
    <link rel="icon" href="~/images/icon.png">

    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <link rel="stylesheet" type="text/css" href="~/css/register.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" asp-append-version="true">

    <title>Edit Profile | Centennial English Learning Services (CELS)</title>
</head>

<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="logo">
                    <a asp-controller="Application" asp-action="Portal"><img src="~/images/logo.png" alt="CELS logo" class="logo"></a>
                </div>
                <ul class="main-nav">
                    <li><a asp-controller="Application" asp-action="Portal">Home</a></li>
                    <li><a asp-controller="Appointment" asp-action="Appointments">Appointments</a></li>
                    <li><a asp-controller="Application" asp-action="Profile">Profile</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a asp-controller="Account" asp-action="Logout">Log Out</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <!-- Profile Picture (Centered) -->
        <div>
            <center>
                @if (@Model.PhotoUrl != null)
                {
                    <img src="@Model.PhotoUrl" alt="Profile Picture" class="profile" />
                }
                else
                {
                    <img src="~/images/user.png" alt="Profile Picture" class="profile" />
                }
            </center>
        </div>

        <div class="row">
            <h2>
                Edit @Model.FirstName's Profile
            </h2>
        </div>

        <div class="validation" asp-validation-summary="All"></div>

        <!-- Profile Picture (side) -->
        <!--<div class="row">
            <div>
                <div class="col span-3-of-3">
                    @if (@Model.PhotoUrl != null)
                    {
                        <img src="@Model.PhotoUrl" alt="Profile Picture" class="profile" />
                    }
                    else
                    {
                        <img src="~/images/user.png" alt="Profile Picture" class="profile" />
                    }
                </div>
            </div>
        </div>-->

        <div class="row form-container">
            <form asp-controller="Account" asp-action="EditProfile" method="post" class="edit-form" enctype="multipart/form-data">
                <!-- Hidden Inputs -->
                <input asp-for="UserName" hidden />
                <input asp-for="PhotoUrl" hidden />
                <input asp-for="ResumeUrl" hidden />
                <input asp-for="IsTeacher" hidden />
                <div>
                    <div class="col span-1-of-3">
                        <label asp-for="FirstName">
                            First Name:
                        </label>
                    </div>
                    <div class="col span-2-of-3">
                        <input asp-for="FirstName" type="text" placeholder="Your first name" required>
                    </div>
                </div>
                <div>
                    <div class="col span-1-of-3">
                        <label asp-for="LastName">
                            Last Name:
                        </label>
                    </div>
                    <div class="col span-2-of-3">
                        <input asp-for="LastName" type="text" placeholder="Your last name" required>
                    </div>
                </div>
                <div>
                    <div class="col span-1-of-3">
                        <label asp-for="PhoneNumber">
                            Phone Number:
                        </label>
                    </div>
                    <div>
                        <div class="col span-2-of-3">
                            <input asp-for="PhoneNumber" type="text" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="Should follow this pattern. e.g. 123-456-7890" required>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col span-1-of-3">
                        <label asp-for="Email">
                            Email:
                        </label>
                    </div>
                    <div class="col span-2-of-3">
                        <input asp-for="Email" type="email" placeholder="Your email" required>
                    </div>
                </div>
                @if (!Model.IsTeacher)
                {
                    <div>
                        <div class="col span-1-of-3">
                            <label asp-for="FirstLanguage">
                                First Language:
                            </label>
                        </div>
                        <div class="col span-2-of-3">
                            <select asp-for="FirstLanguage"
                                    asp-items="Html.GetEnumSelectList<Languages>()" required>
                            </select>
                        </div>
                    </div>
                }
                <div>
                    <div class="col span-1-of-3">
                        <label asp-for="YearOfInterest">
                            @(Model.IsTeacher ? "Year Started Teaching:" : "Year Started Speaking English:")
                        </label>
                    </div>
                    <div class="col span-2-of-3">
                        <select asp-for="YearOfInterest" required>
                            <option value="">Select year</option>
                            <option value="1990">≤1990</option>
                            @for (int year = 1991; year <= DateTime.Now.Year; year++)
                            {
                                <option value="@year">@year</option>
                            }
                        </select>
                    </div>
                </div>
                <div>
                    <div class="col span-1-of-3">
                        <label asp-for="Description">
                            Describe Yourself (1000 characters):
                        </label>
                    </div>
                    <div class="col span-2-of-3">
                        <textarea asp-for="Description" class="description" maxlength="1000" required></textarea>
                    </div>
                </div>
                @if (Model.IsTeacher)
                {
                    <div>
                        <div class="col span-1-of-3">
                            <label asp-for="User_AvailabilityStart">
                                Availability:
                            </label>
                        </div>
                        <div class="col span-2-of-3">
                            From: <input asp-for="User_AvailabilityStart" type="time" step="60" required onchange="validateAvailability()" />
                            &nbsp; To: <input asp-for="User_AvailabilityEnd" type="time" step="60" required onchange="validateAvailability()" />
                        </div>
                    </div>
                }

                <!-- RESUME -->
                @if (Model.IsTeacher)
                {
                    @if (Model.ResumeUrl != null)
                    {
                        <div>
                            <div class="col span-1-of-3">
                                <label>
                                    <span>Upload New Resume (PDF)</span> <br />
                                </label>
                            </div>
                            <div class="col span-2-of-3">
                                <a class="btn" href="@Model.ResumeUrl" target="_blank">View Current Resume</a>
                            </div>
                        </div>

                        <div>
                            <div class="col span-1-of-3">
                                <label>
                                    &nbsp;
                                </label>
                            </div>
                            <div class="col span-2-of-3">
                                <label asp-for="Resume" class="btn">
                                    <input type=file asp-for="Resume" accept="application/pdf"
                                           onchange="validateExtension(this, 'doc'); displayResumeFileName(this);" />
                                    Choose File
                                </label>
                                <span id="resumeFileName"></span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div>
                            <div class="col span-1-of-3">
                                <label>
                                    <span>Upload Resume (PDF)</span> <br />
                                </label>
                            </div>
                            <div class="col span-2-of-3">
                                <label asp-for="Resume" class="btn">
                                    <input type=file asp-for="Resume" accept="application/pdf"
                                           onchange="validateExtension(this, 'doc'); displayResumeFileName(this);" />
                                    Choose File
                                </label>
                                <span id="resumeFileName"></span>
                            </div>
                        </div>
                    }
                }

                <!-- PROFILE PICTURE -->
                <div>
                    <div class="col span-1-of-3">
                        <label>
                            @if (Model.PhotoUrl == null)
                            {
                                <span>Profile Picture (optional):</span>
                            }
                            else
                            {
                                <span>Change Profile Picture:</span> <br />
                            }
                        </label>
                    </div>
                    <div class="col span-2-of-3">
                        <label asp-for="ProfilePic" class="btn">
                            <input type=file asp-for="ProfilePic" accept=".jpeg, .jpg, .png"
                                   onchange="validateExtension(this, 'img'); displayImageFileName(this);" />
                            Choose File
                        </label>
                        <span id="imageFileName"></span>
                    </div>
                </div>
                <div>
                    <div class="col span-1-of-3">
                        <label>
                            &nbsp;
                        </label>
                    </div>
                    <div class="col span-2-of-3">
                        <label>
                            &nbsp;
                        </label>
                    </div>
                </div>
                @if (!Model.IsTeacher)
                {
                    <div>
                        <div class="col span-1-of-3">
                            <label>
                                &nbsp;
                            </label>
                        </div>
                        <div class="col span-2-of-3">
                            <label>
                                &nbsp;
                            </label>
                        </div>
                    </div>
                }
                <div>
                    <div class="col span-1-of-3">
                        <label>
                            &nbsp;
                        </label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="submit" value="Update Profile">
                        <a style="margin-top: 10px" class="btn" asp-controller="Application" asp-action="Profile">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
